body {
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --dark-gray: #212529;
  --darkblue: #0a191e;
  --cyan: #45c490;
  --yellow: #d8b65c;
}

.carousel-control-next-icon::after {
  display: none;
}

.carousel-control-prev-icon::after {
  display: none;
}

/* Desktop/Laptop */
@media (min-width: 1024px) {
  #textWelcome,
  #textDescription {
    text-align: center;
    color: white;
    font-family: "Open Sans";
  }

  #textWelcome {
    font-size: 50px;
  }

  #textDescription {
    font-size: 25px;
  }

  #profilePicture {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .projectText {
    font-size: 25px;
    color: white;
    text-align: center;
  }

  .photographyText {
    color: white;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photographyBackupText {
    color: white;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photographyPhotos {
    color: black;
    font-size: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    display: flex;
    width: 100%;
    gap: 30px;
  }

  .photographyContainer {
    height: 100vh;
    background-color: #212529;
  }

  .photographyPage {
    width: 100vw;
    background-color: #212529;
  }

  .contactPage {
    background-color: #212529;
    padding-top: 10%;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }

  .contactContainer {
    border: 2px groove;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 12px 8px #45c490;
    width: 500px;
  }

  .contactText {
    font-size: 20px;
    color: white;
  }
}

@media (max-width: 1024px) {
  #textWelcome,
  #textDescription {
    text-align: center;
    color: white;
    font-family: "Open Sans";
  }

  #textWelcome {
    font-size: 50px;
  }

  #textDescription {
    font-size: 25px;
  }

  #profilePicture {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .projectText {
    font-size: 25px;
    color: white;
    text-align: center;
  }

  .photographyText {
    color: white;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photographyBackupText {
    color: white;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photographyPhotos {
    color: black;
    font-size: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    display: flex;
    width: 90%;
    gap: 30px;
  }

  .photographyContainer {
    height: 100vh;
    background-color: #212529;
  }

  .photographyPage {
    width: 100vw;
    background-color: #212529;
  }

  .contactPage {
    background-color: #212529;
    padding-top: 10%;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }

  .contactContainer {
    border: 2px groove;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 12px 8px #45c490;
    width: 500px;
  }

  .contactText {
    font-size: 20px;
    color: white;
  }
}

/* Tablet */
@media (max-width: 768px) {
  #textWelcome,
  #textDescription {
    text-align: center;
    color: white;
    font-family: "Open Sans";
  }

  #textWelcome {
    font-size: 35px;
  }

  #textDescription {
    font-size: 18px;
  }

  #profilePicture {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .projectText {
    font-size: 20px;
    color: white;
    text-align: center;
  }

  #gitHub,
  #linkedIn {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photographyText {
    color: white;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photographyBackupText {
    color: white;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photographyPhotos {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    gap: 30px;
  }

  .photographyContainer {
    height: auto;
    background-color: #212529;
  }

  .photographyPage {
    width: 100vw;
    background-color: #212529;
  }

  .projectFooter {
    display: none;
  }

  .contactPage {
    background-color: #212529;
    padding-top: 10%;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }

  .contactContainer {
    border: 2px groove;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 12px 8px #45c490;
    width: 500px;
  }

  .contactText {
    font-size: 20px;
    color: white;
  }
}

/* Mobile */
@media (max-width: 425px) {
  #textWelcome,
  #textDescription {
    text-align: center;
    color: white;
    font-family: "Open Sans";
  }

  #textWelcome {
    font-size: 30px;
  }

  #textDescription {
    font-size: 15px;
  }

  #profilePicture {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .projectText {
    font-size: 15px;
    color: white;
    text-align: center;
  }

  .photographyText {
    color: white;
    text-align: center;
    font-family: "Open Sans";
    font-size: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photographyBackupText {
    color: white;
    text-align: center;
    font-family: "Open Sans";
    font-size: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .photographyPhotos {
    color: black;
    font-size: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans';
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    gap: 30px;
  }

  .photographyContainer {
    height: auto;
    background-color: #212529;
  }

  .projectFooter {
    display: none;
  }

  .contactPage {
    background-color: #212529;
    padding-top: 10%;
    height: 100vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }

  .contactContainer {
    border: 2px groove;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 12px 8px #45c490;
  }

  .contactText {
    font-size: 18px;
    color: white;
  }

  #gitHub,
  #linkedIn {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  #projectRuler {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .technology {
    width: 50px;
    margin-left: -5px;
  }

  .mb-3 {
    display: flex;
    justify-content: space-between;
  }

  .mt-2 {
    display: flex;
    justify-content: space-around;
  }
}
