body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-gray: #212529;
  --darkblue: #0a191e;
  --cyan: #45c490;
  --yellow: #d8b65c;
}

.hoverText {
  cursor: pointer;
}

/* Desktop/Laptop */
@media (min-width: 1024px) {
  #textWelcome,
  #textDescription {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
  }

  #textWelcome {
    font-size: 50px;
  }

  #textDescription {
    font-size: 25px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  
}

/* Mobile */
@media (max-width: 425px) {
 
}