body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark-gray: #212529;
  --darkblue: #0a191e;
  --cyan: #45c490;
  --yellow: #d8b65c;
}

/* Desktop/Laptop */
@media (min-width: 1024px) {
  #textWelcome,
  #textDescription {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
  }

  #textWelcome {
    font-size: 50px;
  }

  #textDescription {
    font-size: 25px;
  }

  #profilePicture {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1024px) {
  #textWelcome,
  #textDescription {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
  }

  #textWelcome {
    font-size: 50px;
  }

  #textDescription {
    font-size: 25px;
  }

  #profilePicture {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tablet */
@media (max-width: 768px) {
  #textWelcome,
  #textDescription {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
  }

   #textWelcome {
    font-size: 35px;
  }

  #textDescription {
    font-size: 18px;
  }

  #profilePicture {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Mobile */
@media (max-width: 425px) {
  #textWelcome,
  #textDescription {
    text-align: center;
    color: white;
    font-family: 'Open Sans';
  }

   #textWelcome {
    font-size: 30px;
  }

  #textDescription {
    font-size: 15px;
  }

  #profilePicture {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .technology  {
    width: 50px;
    margin-left: -5px;
  }

  .mb-3 {
    display: flex;
    justify-content: space-between;
  }

  .mt-2 {
    display: flex;
    justify-content: space-around;
  }
}